*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


body {
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
    color: #fff;
    width: 95%;
    margin: 0px auto;
    padding: 20px;
    background-image: linear-gradient(to right, #7868e6, #b8b5ff);
}



.header_container_main {

    display: flex;
    justify-content: space-between;
}

.header_logo_box {

    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}

.home_link,
.home_link:active,
.home_link:visited {
    text-decoration: none;
    color: #fff;
}

.header_widget_box {
    display: flex;
    width: 10%;
    justify-content: space-between;
    margin: auto 0px;
}

.menu {
    display: none;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    transition: all 0.4s;
    cursor: pointer;
}

.menu:hover {

    color: #440a67;

}

@media (min-width: 1329px) {
    .header_container_sub_modifier {

        display: none;
    }
}


@media (max-width: 1680px) {
    .menu {
        display: block;
    }

    .sub_menu {
        display: none;
    }

    .header_container_sub_modifier {

        display: none;
    }

}

.btn-header,
.btn-header:active,
.btn-header:visited {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    transition: all 0.4s;
}

.btn-header:hover {
    color: #440a67;
}

.btn_header_modifier,
.btn_header_modifier:active,
.btn_header_modifier:visited {
    text-decoration: none;
    font-size: inherit;
    color: #584eb6;
    font-weight: bold;
}

.btn_header_modifier:hover {
    color: #1c1369;
}

.index_container {
    width: 60%;
    margin: 150px auto 50px;

}

.index_tag_box {
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.index_tag {
    font-size: 40px;
    color: #440a67;
    animation: moveInLeft 3s ease-out;
    cursor: pointer;

}

.index_tag:hover {
    color: #21094e;
}

@keyframes moveInLeft {

    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    50% {
        opacity: 1;
        transform: translateX(3px);
    }

    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

.index_widget_box {
    width: 50%;
    margin: 20px auto 20px;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 10px;
    background-image: linear-gradient(to right, #b088f9, #da9ff9);
    box-shadow: 0px 4px 6px #440a67;
    animation: moveBottomTop 4s ease-out;
}

.index_widget {
    padding: 20px;
    display: flex;
    /* justify-content: space-between; */
    width: 60%;
    margin: 0px auto;
    border-bottom: 5px solid #fff;

}

.checkbox_outer {
    width: 40px;
    height: 40px;
    border: 2px solid #440a67;
    border-radius: 10px;
    padding: 2px;
    margin-right: 5px;
}

.index_widget:last-child {
    margin-bottom: 20px;
}

.todoitem {
    margin: auto 0px;
    padding: 5px;
}

.item {
    font-size: 20px;
    font-weight: bold;
    color: #440a67
}

.checkbox_outer_fill {
    background-color: #21094e;
}

@keyframes moveBottomTop {

    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    50% {
        transform: translateY(-5px)
    }

    100% {
        opacity: 0.7;
    }
}


.waring_box {
    text-align: center;
}

.register_warning {
    color: #822659;
    font-family: inherit;
}

.form_box {
    width: 60%;
    margin: 10px auto;
    padding: 10px;
}

.form_field {
    margin-bottom: 15px;
}

.form_field:last-child {
    margin-top: 40px;
}

.form_label {
    font-size: 20px;
    margin-bottom: 10px;
    display: block;
}

.form_input {
    width: 100%;
    height: 40px;
    padding-left: 5px;
    font-size: 15px;
    opacity: 0.8;
    font-family: inherit;
    border-radius: 3px;
    border: none;
    transition: all 0.4s;
    display: block;
}

.form_input:focus {
    outline: none;
    border-bottom: 2px solid #21094e;
}

form_input:focus:invalid {
    border-bottom: 2px solid #91091e;
}

.btn {
    display: block;
    width: 30%;
    height: 30px;
    margin: 10px auto;
    font-family: inherit;
    border-radius: 3px;
    border: none;
    box-shadow: 0px 2px 3px #21094e;
    transition: all 0.4s;
}

.btn:hover {
    background-color: #b4aee8;
}

.btn:active {
    transform: translateY(3px);
}

.profile_box {
    width: 15%;
    display: flex;
    margin: auto 0px;
    cursor: pointer;

}

.profile_image_box {
    width: 15%;
    height: 45px;
    border: 3px solid #fff;
    border-radius: 50px;
    margin-left: 10px;

}

.profile_image {
    width: 100%;
    border-radius: 10px;
    background-size: cover;
}

.profile_name {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.name {
    margin: auto 0px;
}

.main_task_container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 100px auto;
}

.divider {
    width: 0.5%;
    border: 2px solid #fff;
    background-color: #fff;
}

.add_task_container {
    width: 45%;
}

.add_task_heading {
    text-align: center;
}


.task_widget_box {
    width: 100%;
}

.task_widget_box {
    padding: 10px;
}

.task_widget {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
    border: 2px solid #fdfaf6;
    padding: 20px;
    background-image: linear-gradient(to right bottom, #867ae9, #ffe3fe);
    border-radius: 5px;
    box-shadow: 0px 2px 5px #776be0;
}

.task_info {
    padding: 10px;
}

.tasktitle_box,
.taskmeta_box {
    margin-bottom: 10px;
}

.title {
    font-size: 25px;
}

.task_desc_box {
    margin-top: 15px;
}

.task_buttons {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.task_update {
    display: block;
    margin: auto 0px;
    border: 1px solid #fff;
    padding: 15px;
    background-color: #867ae9;
    border-radius: 10px;
    box-shadow: 0px 2px 3px #6f64cc;
    transition: all 0.2s
}

.task_update:hover {
    background-color: #5e53be;
}

.task_remove {
    display: block;
    margin: auto 0px;
}

.task_remove:hover {
    color: #5e53be;
}

.remove_icon:hover {
    fill: #5e53be;
}

.task_update,
.task_remove,
.task_update:active,
.task_remove:active,
.task_update:visited,
.task_remove:visited {
    text-decoration: none;
    font-size: inherit;
    color: #fff;
    font-weight: bold;
}

.header_container_sub {
    width: 100%;
    /* display: none; */
    background-image: linear-gradient(to right, #fdfaf6, #ffe5e2);
}

.profile_widget_box {
    width: 10%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile_widgets {
    padding: 30px;
}

.profile_widget,
.profile_widget:active,
.profile_widget:visited {
    text-decoration: none;
    font-size: inherit;
    color: #584eb6;
    font-weight: bold;
}

.add_task_container_modifier {
    margin: 120px auto 30px;
}

.warning_box_modifier {
    margin-top: 70px;
}

@media (max-width: 1200px) {
    .profile_widget_box {
        width: 20%;
    }
}


@media (max-width: 900px) {
    .profile_widget_box {
        flex-direction: column;
        width: 100%;
    }

    .profile_widgets {

        width: 50%;
        margin: 0px auto;
        text-align: center;
    }
}

@media (max-width: 1428px) {

    .index_widget_box {

        width: 60%;
    }
}

@media (max-width: 1190px) {

    .index_widget_box {

        width: 70%;
    }
}

@media (max-width: 1092px) {

    .index_widget_box {

        width: 80%;
    }
}

@media (max-width: 885px) {

    .index_widget_box {

        width: 90%;
    }
}

@media (max-width: 770px) {

    .index_widget_box {

        width: 95%;
    }
}

@media (max-width: 700px) {

    .index_widget_box {

        width: 100%;
    }
}

@media (max-width: 700px) {

    .index_container {

        width: 80%;
    }
}

@media (max-width: 1030px) {

    .form_box {

        width: 70%;
    }
}

@media (max-width: 765px) {

    .form_box {

        width: 80%;
    }
}

@media (max-width: 510px) {

    .form_box {

        width: 90%;
    }
}

@media (max-width: 416px) {

    .form_box {

        width: 100%;
    }
}

@media (max-width: 1416px) {

    .profile_image_box {

        width: 25%;
    }
}

@media (max-width: 1385px) {

    .profile_image_box {

        width: 25%;
    }
}

@media (max-width: 1300px) {

    .profile_name {

        display: none;
    }
}

@media (max-width: 1035px) {

    .profile_image_box {

        width: 30%;
    }
}

@media (max-width: 915px) {

    .profile_image_box {

        width: 32%;
    }
}

@media (max-width: 851px) {

    .profile_image_box {

        width: 38%;
    }
}

@media (max-width: 725px) {

    .profile_image_box {

        width: 40%;
    }
}

@media (max-width: 630px) {

    .profile_image_box {

        width: 45%;
    }
}

@media (max-width: 545px) {

    .profile_image_box {

        width: 55%;
    }
}

@media (max-width: 455px) {

    .profile_image_box {

        width: 60%;
    }
}

@media (max-width: 1500px) {

    .main_task_container {

        flex-direction: column;
    }

    .divider {
        display: none;
    }

    .add_task_container {
        margin: 0px auto;
    }

    .add_task_container_modifier {
        margin: 300px auto 30px;
    }



    .add_task_container:first-child {
        margin-bottom: 80px;
        border-bottom: 3px solid #fff;
    }
}

@media (max-width: 1200px) {

    .task_widget {
        flex-direction: column;
    }

    .task_buttons {
        margin: 10px auto;
    }

    .task_update {
        margin-right: 10px;
    }

}

@media (max-width: 1000px) {

    .add_task_container {
        width: 50%;
    }
}

@media (max-width: 800px) {

    .add_task_container {
        width: 60%;
    }
}

@media (max-width: 600px) {

    .add_task_container {
        width: 70%;
    }

    .task_update {
        margin: 0px auto;
    }

    .task_remove {
        margin: auto auto;
    }
}

@media (max-width: 500px) {

    .add_task_container {
        width: 80%;
    }

    .task_buttons {
        width: 15%;
    }

    .task_update {
        margin: 0px auto;
    }

    .task_remove {
        margin: auto auto;
    }
}


@media (max_width: 1500px) {


    .add_task_container_modifier {
        margin: 300px auto 30px;
    }
}