<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>To Do App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="header_container">
        <div class="header_logo_box">
            <h2 class="header_logo"> <a class="home_link" href="/"> To Do App </a></h2>
        </div>
        <div class="header_widget_box">
            <div class="login_widget">
                <a class="btn-header" href="/loginfresh"> Login </a>
            </div>
            <div class="login_widget">
                <a class="btn-header" href="/register"> Register </a>
            </div>
        </div>
    </div>

    <div class="index_container">
        <div class="index_tag_box">
            <h2 class="index_tag"> Create your own to do list! </h2>
        </div>
        <div class="index_widget_box">
            <div class="index_widget">
                <div class="checkbox_outer checkbox_outer_fill">
                </div>
                <div class="todoitem">
                    <h3 class="item"> Go to gym </h3>
                </div>
            </div>
            <div class="index_widget">
                <div class="checkbox_outer">
                </div>
                <div class="todoitem">
                    <h3 class="item"> Shopping </h3>
                </div>
            </div>
            <div class="index_widget">
                <div class="checkbox_outer checkbox_outer_fill">
                </div>
                <div class="todoitem">
                    <h3 class="item"> study </h3>
                </div>
            </div>
            <div class="index_widget">
                <div class="checkbox_outer">
                </div>
                <div class="todoitem">
                    <h3 class="item"> water trees</h3>
                </div>
            </div>
            <div class="index_widget">
                <div class="checkbox_outer checkbox_outer_fill">
                </div>
                <div class="todoitem">
                    <h3 class="item"> read a book </h3>
                </div>
            </div>
            <div class="index_widget">
                <div class="checkbox_outer">
                </div>
                <div class="todoitem">
                    <h3 class="item"> project work </h3>
                </div>
            </div>
        </div>
    </div>
</body>

</html>