{% extends 'base.html' %}

{% block body %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <form action='/search' method='POST' , enctype='multipart/form-data'>
                <div class="form-group row">
                    <label for="city" class="col-sm-2 col-form-label">City --></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control-plaintext" name='city' id="city"
                            placeholder="Enter city">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <input type="submit" class="btn btn-warning">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% if ResultExists %}
<div class="weather_info_data">
    <div class="info_heading">
        <h1 class="heading">
            {{context.city_name}}
        </h1>
    </div>
    <div class="info_data">
        <div class="weather_main_box">
            <h1 class="heading">
                Today's Weather
            </h1>
            <h2 class="weather_main_box_heading">{{context.weather}}</h2>
            <h4 class="weather_main_box_sub">Today's weather is {{context.weather_desc}}</h4>
        </div>
        <div class="weather_meta_box">
            <div class="weather_temp_box">
                <h1 class="heading">
                    Today's Temperature
                </h1>
                <h2 class="weather_main_box_heading">{{context.temp}}&#8451;</h2>
                <h4 class="weather_main_box_sub">Min - {{context.temp_min}}&#8451;</h4>
                <h4 class="weather_main_box_sub">Max - {{context.temp_max}}&#8451;</h4>

            </div>
            <div class="weather_humidity_box">
                <h1 class="heading">
                    Humidity
                </h1>
                <h4 class="weather_main_box_sub">{{context.humidity}}</h4>
            </div>
        </div>
    </div>
    <a href="/viewpastweather/{{context.city_name}}" class="btn btn-warning mt-5"> Past Trend for {{context.city_name}}</a>
</div>
{% endif %}

{% if searchForHistoric %}
<div class="historicview_container">
    <canvas id="line-chart" width="800" height="450">
        <div class="div_hidden" id="city_dates">{{context.cityDate}}</div>
        <div class="div_hidden" id="city_temps">{{context.cityTemps}}</div>
    </canvas>
    <script>
        let dates = document.getElementById("city_dates").innerHTML;   
        console.log(dates); 
        let dateArray = dates.split(",");
        let temp = []
        for(i=0; i< dateArray.length; i++){
            console.log(dateArray[i])
            if(dateArray[i].includes("[")){
                console.log(` [ --> ${dateArray[i]}`);
                temp = dateArray[i].split("[");
                dateArray[i] = temp[1];
            }else if(dateArray[i].includes("]")){ 
                console.log(` ] --> ${dateArray[i]}`);
                temp = dateArray[i].split("]");
                dateArray[i] = temp[0];
            }
        }

        let temps = document.getElementById("city_temps").innerHTML;
        console.log(temps);
        let tempArray = temps.split(",");
        let temp1 = []
        for(i=0;i<tempArray.length;i++){
            console.log(tempArray[i]);
            if(tempArray[i].includes("[")){
                console.log(` [ --> ${tempArray[i]}`);
                temp1 = tempArray[i].split("[");
                tempArray[i] = Number(temp1[1]);
            }else if(tempArray[i].includes("]")){
                console.log(` ] --> ${tempArray[i]}`);
                temp1 = tempArray[i].split("]");
                tempArray[i] = Number(temp1[0]);
            }
            tempArray[i] = Number(tempArray[i]);
        }
        console.log(dateArray);
        console.log(tempArray);
        new Chart(document.getElementById("line-chart"), {
  type: 'line',
  data: {
    // labels: [1500,1600,1700,1750,1800,1850,1900,1950,1999,2050],
    labels: dateArray,
    datasets: [{ 
        // data: [86,114,106,106,107,111,133,221,783,2478],
        data: tempArray,
        label: "Historic Temparature",
        borderColor: "#3e95cd",
        fill: false
      }
    ]
  },
  options: {
    title: {
      display: true,
      text: 'World population per region (in millions)'
    }
  }
});
    </script>
</div>
{% endif %}
{% endblock %}