{% extends 'base.html' %}

{% block body %}

<div class="container_main container_main_mod">
    {% if flag %}
    <div class="response">
        <p class="message">
            {{msg}}
        </p>
    </div>
    {% else %}
    <div class="all_products_view_container">
        <div class="container_heading_box">
            <h4 class="container_heading">
                All Products
            </h4>
        </div>
        <div class="produts_view">
            {% for key, value in resp.items() %}
            <div class="product_box">
                <div class="product_box_main">
                    <div class="product_name">
                        <h3 class="name"> {{ resp[key]['productName'] }} </h3>
                    </div>
                    <div class="product_meta_box">
                        <span class="product_meta">Quantity : <span class="product_meta_mod">
                                {{ resp[key]['prductQuantity'] }} </span> </span>
                        <span class="product_meta">Single Price : <span class="product_meta_mod"> &#8377;
                                {{ resp[key]['prodcutSinglePrice'] }} </span> </span>
                    </div>
                </div>
                <div class="product_box_sub">
                    <div class="product_total_price">
                        <h5 class="price"> &#8377; {{ resp[key]['procuctTotalPrice'] }} </h5>
                    </div>
                    <div class="product_inventory">
                        <span class="inventory"> {{ resp[key]['productCategory'] }} </span>
                    </div>
                </div>
                <div class="product_widgets">
                    <a href="/updateproduct/{{resp[key]['productID']}}" class="products_func_link">Update</a>
                    <a href="/removeproduct/{{ resp[key]['productID'] }}" class="products_func_link">Delete</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="all_products_view_container">
        <div class="container_heading_box">
            <div class="search_box">
                <form action="/searchproduct" method="POST" enctype="multipart/form-data">
                    <div class="form_field form_field_mod">
                        <input type="text" class="form_input form_input_search" name="query" id="query"
                            placeholder="Enter product name">
                        <input type="submit" class="form_button form_button_search" value="Search">
                        <a href="/getproducts" class="form_button form_button_search clear">Clear</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
    {% endif %}
</div>


<!-- {% for key, value in resp.items() %}
            {{key}}
            {% for key1, value1 in resp[key].items() %}
                {{value1}}
            {% endfor %}
            <br>
        {% endfor %} -->

{% endblock %}